<%- include("partials/header") %>

<div class="container">
  <section class="mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Search for a movie</h5>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Genres</label
            >
          </div>
          <select class="custom-select" id="inputGenreSelect">
            <option selected value="*">Choose Genre</option>
          </select>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01"
              >Maximum Price</label
            >
          </div>
          <input
            id="priceInput"
            type="number"
            class="form-control"
            placeholder="Maximum price"
            aria-label="Search Movie"
            aria-describedby="basic-addon2"
          />
        </div>
        <div class="input-group mb-3">
          <input
            id="searchInput"
            type="text"
            class="form-control"
            placeholder="Movie name"
            aria-label="Search Movie"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button id="searchButton" class="btn btn-primary" type="button">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="movies"></div>

  <h3>Best selling movies in our store</h3>
  <section style="max-width: 350px">
    <canvas id="pieChart"></canvas>
  </section>

  <section style="margin-top: 30px">
    <h3>Most Popular Movies Now according to TMDB</h3>
    <canvas id="barChart"></canvas>
  </section>
</div>

<%- include("partials/footer") %>
<script>
  $(function () {
    let movies = [];
    let genres = [];
    let moviesDict = {};

    $("#searchButton").on("click", () => {
      let search = $("#searchInput").val();
      let selectedGenre = $("#inputGenreSelect").val();
      let price = $("#priceInput").val();

      $("#movies").html("");
      movies
        .filter((movie) => price === "" || movie.price <= price)
        .filter(
          (movie) => selectedGenre === "*" || movie.genre === selectedGenre
        )
        .filter((movie) =>
          movie.movieName.toUpperCase().includes(search.toUpperCase())
        )
        .forEach((element) => {
          $("#movies").append(createMovieCard(element));
        });
    });

    // init movies cards
    $.ajax({
      type: "GET",
      url: "/api/movies",
      success: function (result) {
        movies = result;
        result.forEach((element) => {
          $("#movies").append(createMovieCard(element));
          moviesDict[element.movieId] = element.movieName;

          // get all genres
          if (genres.indexOf(element.genre) === -1) {
            genres.push(element.genre);
          }
        });

        // init genres dropdown
        genres.forEach((genre) => {
          $("#inputGenreSelect").append(
            `<option value="${genre}">${genre}</option>`
          );
        });
      },
    });

    const createMovieCard = (element) => {
      return `<div class="card mt-4">
                <div class="card-body">
                  <h4 class="card-title">${element.movieName}</h4>
                  <div class="card-subtitle text-muted mb-2">Genre: ${element.genre}
                  </div>
                  <div class="card-text mb-2">Price: ${element.price}$</div>
                  <div class="card-text mb-2">Ratings: ${element.rating}/10</div>
                  <form action="/api/orders" method="POST" class="d-inline" onSubmit="if(!confirm('Are you sure you want to buy this movie?')){return false;}">
                    <button type="submit" class="btn btn-primary">Buy Movie</button>
                    <input type="hidden" name="userId" value="<%=userId %>"/>
                    <input type="hidden" name="movieId" value="${element.movieId}"/>
                  </form>
                </div>
              </div>`;
    };

    let barChartData = [];
    let barChartLabels = [];
    let pieChartData = [];
    let pieChartLabels = [];

    // fetch data from external web service
    $.ajax({
      type: "GET",
      url: "https://api.themoviedb.org/3/discover/movie?sort_by=popularity.desc&api_key=c357ee2e2b1ba7f773fbc4662375302d",
      success: function (result) {
        // init chart data
        result.results.forEach((element) => {
          barChartLabels.push(element.title);
          barChartData.push(element.vote_average);
        });

        createBarChart();
      },
    });

    // fetch data of orders count pie chart
    $.ajax({
      type: "GET",
      url: "/api/orders/counts",
      success: function (result) {
        // init chart data
        result.forEach((element) => {
          pieChartLabels.push(moviesDict[element._id]);
          pieChartData.push(element.total);
        });

        createPieChart();
      },
    });

    const createPieChart = () => {
      var ctxP = document.getElementById("pieChart").getContext("2d");
      var myPieChart = new Chart(ctxP, {
        type: "doughnut",
        data: {
          labels: pieChartLabels,
          datasets: [
            {
              data: pieChartData,
              backgroundColor: [
                "#F7464A",
                "#46BFBD",
                "#FDB45C",
                "#949FB1",
                "#4D5360",
              ],
              hoverBackgroundColor: [
                "#FF5A5E",
                "#5AD3D1",
                "#FFC870",
                "#A8B3C5",
                "#616774",
              ],
            },
          ],
        },
        options: {
          responsive: true,
          innerWidth: "500px",
        },
      });
    };

    const createBarChart = () => {
      var ctxB = document.getElementById("barChart").getContext("2d");
      var myBarChart = new Chart(ctxB, {
        type: "bar",
        data: {
          labels: barChartLabels,
          datasets: [
            {
              label: "Average rating",
              data: barChartData,
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255,99,132,1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {},
      });
    };
  });
</script>
